In [ ]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from pandas import Series,DataFrame

In [5]:
data_train=pd.read_csv(r"C:\Users\fly1990\Downloads\Train.csv")

In [6]:
from sklearn.ensemble import RandomForestRegressor

####使用 RandomForestClassifier 填补缺失的年龄属性
def set_missing_ages(df):
    age_df = df[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]
    known_age = age_df[age_df.Age.notnull()].as_matrix()
    unknown_age = age_df[age_df.Age.isnull()].as_matrix()
    y=known_age[:,0]
    x=known_age[:,1:]
    #切后面的
    rfr = RandomForestRegressor(random_state=0,n_estimators=2000,n_jobs=-1)
    rfr.fit(x,y)
    predictedAges=rfr.predict(unknown_age[:,1::])
    df.loc[(df.Age.isnull()),'Age']=predictedAges
    return df,rfr
def set_Cabin_type(df):
    df.loc[ (df.Cabin.notnull()), 'Cabin' ] = "Yes"
    df.loc[ (df.Cabin.isnull()), 'Cabin' ] = "No"
    return df

data_train, rfr = set_missing_ages(data_train)
data_train = set_Cabin_type(data_train)

In [7]:
dummies_Cabin = pd.get_dummies(data_train['Cabin'], prefix= 'Cabin')

dummies_Embarked = pd.get_dummies(data_train['Embarked'], prefix= 'Embarked')

dummies_Sex = pd.get_dummies(data_train['Sex'], prefix= 'Sex')

dummies_Pclass = pd.get_dummies(data_train['Pclass'], prefix= 'Pclass')

df = pd.concat([data_train, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
df.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df

,PassengerId,Survived,Age,SibSp,Parch,Fare,Cabin_No,Cabin_Yes,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
0,1,0,22.000000,1,0,7.2500,1,0,0,0,1,0,1,0,0,1
1,2,1,38.000000,1,0,71.2833,0,1,1,0,0,1,0,1,0,0
2,3,1,26.000000,0,0,7.9250,1,0,0,0,1,1,0,0,0,1
3,4,1,35.000000,1,0,53.1000,0,1,0,0,1,1,0,1,0,0
4,5,0,35.000000,0,0,8.0500,1,0,0,0,1,0,1,0,0,1
5,6,0,23.838953,0,0,8.4583,1,0,0,1,0,0,1,0,0,1
6,7,0,54.000000,0,0,51.8625,0,1,0,0,1,0,1,1,0,0
7,8,0,2.000000,3,1,21.0750,1,0,0,0,1,0,1,0,0,1
8,9,1,27.000000,0,2,11.1333,1,0,0,0,1,1,0,0,0,1
9,10,1,14.000000,1,0,30.0708,1,0,1,0,0,1,0,0,1,0
10,11,1,4.000000,1,1,16.7000,0,1,0,0,1,1,0,0,0,1
11,12,1,58.000000,0,0,26.5500,0,1,0,0,1,1,0,1,0,0
12,13,0,20.000000,0,0,8.0500,1,0,0,0,1,0,1,0,0,1
13,14,0,39.000000,1,5,31.2750,1,0,0,0,1,0,1,0,0,1
14,15,0,14.000000,0,0,7.8542,1,0,0,0,1,1,0,0,0,1
15,16,1,55.000000,0,0,16.0000,1,0,0,0,1,1,0,0,1,0
16,17,0,2.000000,4,1,29.1250,1,0,0,1,0,0,1,0,0,1
17,18,1,32.066493,0,0,13.0000,1,0,0,0,1,0,1,0,1,0
18,19,0,31.000000,1,0,18.0000,1,0,0,0,1,1,0,0,0,1
19,20,1,29.518205,0,0,7.2250,1,0,1,0,0,1,0,0,0,1
20,21,0,35.000000,0,0,26.0000,1,0,0,0,1,0,1,0,1,0
21,22,1,34.000000,0,0,13.0000,0,1,0,0,1,0,1,0,1,0
22,23,1,15.000000,0,0,8.0292,1,0,0,1,0,1,0,0,0,1
23,24,1,28.000000,0,0,35.5000,0,1,0,0,1,0,1,1,0,0
24,25,0,8.000000,3,1,21.0750,1,0,0,0,1,1,0,0,0,1
25,26,1,38.000000,1,5,31.3875,1,0,0,0,1,1,0,0,0,1
26,27,0,29.518205,0,0,7.2250,1,0,1,0,0,0,1,0,0,1
27,28,0,19.000000,3,2,263.0000,0,1,0,0,1,0,1,1,0,0
28,29,1,22.380113,0,0,7.8792,1,0,0,1,0,1,0,0,0,1
29,30,0,27.947206,0,0,7.8958,1,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,21.000000,1,0,11.5000,1,0,0,0,1,0,1,0,1,0
862,863,1,48.000000,0,0,25.9292,0,1,0,0,1,1,0,1,0,0
863,864,0,10.869867,8,2,69.5500,1,0,0,0,1,1,0,0,0,1
864,865,0,24.000000,0,0,13.0000,1,0,0,0,1,0,1,0,1,0
865,866,1,42.000000,0,0,13.0000,1,0,0,0,1,1,0,0,1,0
866,867,1,27.000000,1,0,13.8583,1,0,1,0,0,1,0,0,1,0
867,868,0,31.000000,0,0,50.4958,0,1,0,0,1,0,1,1,0,0
868,869,0,25.977889,0,0,9.5000,1,0,0,0,1,0,1,0,0,1
869,870,1,4.000000,1,1,11.1333,1,0,0,0,1,0,1,0,0,1
870,871,0,26.000000,0,0,7.8958,1,0,0,0,1,0,1,0,0,1
871,872,1,47.000000,1,1,52.5542,0,1,0,0,1,1,0,1,0,0
872,873,0,33.000000,0,0,5.0000,0,1,0,0,1,0,1,1,0,0
873,874,0,47.000000,0,0,9.0000,1,0,0,0,1,0,1,0,0,1
874,875,1,28.000000,1,0,24.0000,1,0,1,0,0,1,0,0,1,0
875,876,1,15.000000,0,0,7.2250,1,0,1,0,0,1,0,0,0,1
876,877,0,20.000000,0,0,9.8458,1,0,0,0,1,0,1,0,0,1
877,878,0,19.000000,0,0,7.8958,1,0,0,0,1,0,1,0,0,1
878,879,0,27.947206,0,0,7.8958,1,0,0,0,1,0,1,0,0,1
879,880,1,56.000000,0,1,83.1583,0,1,1,0,0,1,0,1,0,0
880,881,1,25.000000,0,1,26.0000,1,0,0,0,1,1,0,0,1,0
881,882,0,33.000000,0,0,7.8958,1,0,0,0,1,0,1,0,0,1
882,883,0,22.000000,0,0,10.5167,1,0,0,0,1,1,0,0,0,1
883,884,0,28.000000,0,0,10.5000,1,0,0,0,1,0,1,0,1,0
884,885,0,25.000000,0,0,7.0500,1,0,0,0,1,0,1,0,0,1
885,886,0,39.000000,0,5,29.1250,1,0,0,1,0,1,0,0,0,1
886,887,0,27.000000,0,0,13.0000,1,0,0,0,1,0,1,0,1,0
887,888,1,19.000000,0,0,30.0000,0,1,0,0,1,1,0,1,0,0
888,889,0,16.193950,1,2,23.4500,1,0,0,0,1,1,0,0,0,1
889,890,1,26.000000,0,0,30.0000,0,1,1,0,0,0,1,1,0,0
890,891,0,32.000000,0,0,7.7500,1,0,0,1,0,0,1,0,0,1

In [8]:
import sklearn.preprocessing as preprocessing
#SCALE ---将数据处理到[-1,1]这个区间中去。
scaler = preprocessing.StandardScaler()
age_scale_param = scaler.fit(df[['Age']])
df['Age_scaled'] = scaler.fit_transform(df[['Age']], age_scale_param)
fare_scale_param = scaler.fit(df[['Fare']])
df['Fare_scaled'] = scaler.fit_transform(df[['Fare']], fare_scale_param)
df

,PassengerId,Survived,Age,SibSp,Parch,Fare,Cabin_No,Cabin_Yes,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Age_scaled,Fare_scaled
0,1,0,22.000000,1,0,7.2500,1,0,0,0,1,0,1,0,0,1,-0.561380,-0.502445
1,2,1,38.000000,1,0,71.2833,0,1,1,0,0,1,0,1,0,0,0.613171,0.786845
2,3,1,26.000000,0,0,7.9250,1,0,0,0,1,1,0,0,0,1,-0.267742,-0.488854
3,4,1,35.000000,1,0,53.1000,0,1,0,0,1,1,0,1,0,0,0.392942,0.420730
4,5,0,35.000000,0,0,8.0500,1,0,0,0,1,0,1,0,0,1,0.392942,-0.486337
5,6,0,23.838953,0,0,8.4583,1,0,0,1,0,0,1,0,0,1,-0.426384,-0.478116
6,7,0,54.000000,0,0,51.8625,0,1,0,0,1,0,1,1,0,0,1.787722,0.395814
7,8,0,2.000000,3,1,21.0750,1,0,0,0,1,0,1,0,0,1,-2.029569,-0.224083
8,9,1,27.000000,0,2,11.1333,1,0,0,0,1,1,0,0,0,1,-0.194333,-0.424256
9,10,1,14.000000,1,0,30.0708,1,0,1,0,0,1,0,0,1,0,-1.148655,-0.042956
10,11,1,4.000000,1,1,16.7000,0,1,0,0,1,1,0,0,0,1,-1.882750,-0.312172
11,12,1,58.000000,0,0,26.5500,0,1,0,0,1,1,0,1,0,0,2.081359,-0.113846
12,13,0,20.000000,0,0,8.0500,1,0,0,0,1,0,1,0,0,1,-0.708199,-0.486337
13,14,0,39.000000,1,5,31.2750,1,0,0,0,1,0,1,0,0,1,0.686580,-0.018709
14,15,0,14.000000,0,0,7.8542,1,0,0,0,1,1,0,0,0,1,-1.148655,-0.490280
15,16,1,55.000000,0,0,16.0000,1,0,0,0,1,1,0,0,1,0,1.861131,-0.326267
16,17,0,2.000000,4,1,29.1250,1,0,0,1,0,0,1,0,0,1,-2.029569,-0.061999
17,18,1,32.066493,0,0,13.0000,1,0,0,0,1,0,1,0,1,0,0.177595,-0.386671
18,19,0,31.000000,1,0,18.0000,1,0,0,0,1,1,0,0,0,1,0.099305,-0.285997
19,20,1,29.518205,0,0,7.2250,1,0,1,0,0,1,0,0,0,1,-0.009473,-0.502949
20,21,0,35.000000,0,0,26.0000,1,0,0,0,1,0,1,0,1,0,0.392942,-0.124920
21,22,1,34.000000,0,0,13.0000,0,1,0,0,1,0,1,0,1,0,0.319533,-0.386671
22,23,1,15.000000,0,0,8.0292,1,0,0,1,0,1,0,0,0,1,-1.075246,-0.486756
23,24,1,28.000000,0,0,35.5000,0,1,0,0,1,0,1,1,0,0,-0.120924,0.066360
24,25,0,8.000000,3,1,21.0750,1,0,0,0,1,1,0,0,0,1,-1.589112,-0.224083
25,26,1,38.000000,1,5,31.3875,1,0,0,0,1,1,0,0,0,1,0.613171,-0.016444
26,27,0,29.518205,0,0,7.2250,1,0,1,0,0,0,1,0,0,1,-0.009473,-0.502949
27,28,0,19.000000,3,2,263.0000,0,1,0,0,1,0,1,1,0,0,-0.781608,4.647001
28,29,1,22.380113,0,0,7.8792,1,0,0,1,0,1,0,0,0,1,-0.533476,-0.489776
29,30,0,27.947206,0,0,7.8958,1,0,0,0,1,0,1,0,0,1,-0.124799,-0.489442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,21.000000,1,0,11.5000,1,0,0,0,1,0,1,0,1,0,-0.634790,-0.416873
862,863,1,48.000000,0,0,25.9292,0,1,0,0,1,1,0,1,0,0,1.347265,-0.126345
863,864,0,10.869867,8,2,69.5500,1,0,0,0,1,1,0,0,0,1,-1.378437,0.751946
864,865,0,24.000000,0,0,13.0000,1,0,0,0,1,0,1,0,1,0,-0.414561,-0.386671
865,866,1,42.000000,0,0,13.0000,1,0,0,0,1,1,0,0,1,0,0.906808,-0.386671
866,867,1,27.000000,1,0,13.8583,1,0,1,0,0,1,0,0,1,0,-0.194333,-0.369389
867,868,0,31.000000,0,0,50.4958,0,1,0,0,1,0,1,1,0,0,0.099305,0.368295
868,869,0,25.977889,0,0,9.5000,1,0,0,0,1,0,1,0,0,1,-0.269366,-0.457142
869,870,1,4.000000,1,1,11.1333,1,0,0,0,1,0,1,0,0,1,-1.882750,-0.424256
870,871,0,26.000000,0,0,7.8958,1,0,0,0,1,0,1,0,0,1,-0.267742,-0.489442
871,872,1,47.000000,1,1,52.5542,0,1,0,0,1,1,0,1,0,0,1.273856,0.409741
872,873,0,33.000000,0,0,5.0000,0,1,0,0,1,0,1,1,0,0,0.246124,-0.547748
873,874,0,47.000000,0,0,9.0000,1,0,0,0,1,0,1,0,0,1,1.273856,-0.467209
874,875,1,28.000000,1,0,24.0000,1,0,1,0,0,1,0,0,1,0,-0.120924,-0.165189
875,876,1,15.000000,0,0,7.2250,1,0,1,0,0,1,0,0,0,1,-1.075246,-0.502949
876,877,0,20.000000,0,0,9.8458,1,0,0,0,1,0,1,0,0,1,-0.708199,-0.450180
877,878,0,19.000000,0,0,7.8958,1,0,0,0,1,0,1,0,0,1,-0.781608,-0.489442
878,879,0,27.947206,0,0,7.8958,1,0,0,0,1,0,1,0,0,1,-0.124799,-0.489442
879,880,1,56.000000,0,1,83.1583,0,1,1,0,0,1,0,1,0,0,1.934540,1.025945
880,881,1,25.000000,0,1,26.0000,1,0,0,0,1,1,0,0,1,0,-0.341152,-0.124920
881,882,0,33.000000,0,0,7.8958,1,0,0,0,1,0,1,0,0,1,0.246124,-0.489442
882,883,0,22.000000,0,0,10.5167,1,0,0,0,1,1,0,0,0,1,-0.561380,-0.436671
883,884,0,28.000000,0,0,10.5000,1,0,0,0,1,0,1,0,1,0,-0.120924,-0.437007
884,885,0,25.000000,0,0,7.0500,1,0,0,0,1,0,1,0,0,1,-0.341152,-0.506472
885,886,0,39.000000,0,5,29.1250,1,0,0,1,0,1,0,0,0,1,0.686580,-0.061999
886,887,0,27.000000,0,0,13.0000,1,0,0,0,1,0,1,0,1,0,-0.194333,-0.386671
887,888,1,19.000000,0,0,30.0000,0,1,0,0,1,1,0,1,0,0,-0.781608,-0.044381
888,889,0,16.193950,1,2,23.4500,1,0,0,0,1,1,0,0,0,1,-0.987599,-0.176263
889,890,1,26.000000,0,0,30.0000,0,1,1,0,0,0,1,1,0,0,-0.267742,-0.044381
890,891,0,32.000000,0,0,7.7500,1,0,0,1,0,0,1,0,0,1,0.172714,-0.492378

In [9]:
from sklearn import linear_model

# 用正则取出我们要的属性值
train_df = df.filter(regex='Survived|Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')
train_np = train_df.as_matrix()

# y即Survival结果
y = train_np[:, 0]

# X即特征属性值
X = train_np[:, 1:]

# fit到RandomForestRegressor之中
clf = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6)
clf.fit(X, y)

clf

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=1e-06,
          verbose=0, warm_start=False)

In [10]:
data_test = pd.read_csv(r"C:\Users\fly1990\Downloads\test.csv")
data_test.loc[ (data_test.Fare.isnull()), 'Fare' ] = 0
# 接着我们对test_data做和train_data中一致的特征变换
# 首先用同样的RandomForestRegressor模型填上丢失的年龄
tmp_df = data_test[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]
null_age = tmp_df[data_test.Age.isnull()].as_matrix()
# 根据特征属性X预测年龄并补上
X = null_age[:, 1:]
predictedAges = rfr.predict(X)
data_test.loc[ (data_test.Age.isnull()), 'Age' ] = predictedAges

data_test = set_Cabin_type(data_test)
dummies_Cabin = pd.get_dummies(data_test['Cabin'], prefix= 'Cabin')
dummies_Embarked = pd.get_dummies(data_test['Embarked'], prefix= 'Embarked')
dummies_Sex = pd.get_dummies(data_test['Sex'], prefix= 'Sex')
dummies_Pclass = pd.get_dummies(data_test['Pclass'], prefix= 'Pclass')


df_test = pd.concat([data_test, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
df_test.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df_test['Age_scaled'] = scaler.fit_transform(df_test[['Age']], age_scale_param)
df_test['Fare_scaled'] = scaler.fit_transform(df_test[['Fare']], fare_scale_param)
df_test

,PassengerId,Age,SibSp,Parch,Fare,Cabin_No,Cabin_Yes,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Age_scaled,Fare_scaled
0,892,34.500000,0,0,7.8292,1,0,0,1,0,0,1,0,0,1,0.307521,-0.496637
1,893,47.000000,1,0,7.0000,1,0,0,0,1,1,0,0,0,1,1.256241,-0.511497
2,894,62.000000,0,0,9.6875,1,0,0,1,0,0,1,0,1,0,2.394706,-0.463335
3,895,27.000000,0,0,8.6625,1,0,0,0,1,0,1,0,0,1,-0.261711,-0.481704
4,896,22.000000,1,1,12.2875,1,0,0,0,1,1,0,0,0,1,-0.641199,-0.416740
5,897,14.000000,0,0,9.2250,1,0,0,0,1,0,1,0,0,1,-1.248380,-0.471623
6,898,30.000000,0,0,7.6292,1,0,0,1,0,1,0,0,0,1,-0.034018,-0.500221
7,899,26.000000,1,1,29.0000,1,0,0,0,1,0,1,0,1,0,-0.337609,-0.117238
8,900,18.000000,0,0,7.2292,1,0,1,0,0,1,0,0,0,1,-0.944790,-0.507390
9,901,21.000000,2,0,24.1500,1,0,0,0,1,0,1,0,0,1,-0.717097,-0.204154
10,902,27.947206,0,0,7.8958,1,0,0,0,1,0,1,0,0,1,-0.189820,-0.495444
11,903,46.000000,0,0,26.0000,1,0,0,0,1,0,1,1,0,0,1.180344,-0.171000
12,904,23.000000,1,0,82.2667,0,1,0,0,1,1,0,1,0,0,-0.565301,0.837349
13,905,63.000000,1,0,26.0000,1,0,0,0,1,0,1,0,1,0,2.470603,-0.171000
14,906,47.000000,1,0,61.1750,0,1,0,0,1,1,0,1,0,0,1.256241,0.459367
15,907,24.000000,1,0,27.7208,1,0,1,0,0,1,0,0,1,0,-0.489404,-0.140162
16,908,35.000000,0,0,12.3500,1,0,0,1,0,0,1,0,1,0,0.345470,-0.415620
17,909,21.000000,0,0,7.2250,1,0,1,0,0,0,1,0,0,1,-0.717097,-0.507465
18,910,27.000000,1,0,7.9250,1,0,0,0,1,1,0,0,0,1,-0.261711,-0.494920
19,911,45.000000,0,0,7.2250,1,0,1,0,0,1,0,0,0,1,1.104446,-0.507465
20,912,55.000000,1,0,59.4000,1,0,1,0,0,0,1,1,0,0,1.863422,0.427557
21,913,9.000000,0,1,3.1708,1,0,0,0,1,0,1,0,0,1,-1.627868,-0.580120
22,914,52.314311,0,0,31.6833,1,0,0,0,1,1,0,1,0,0,1.659585,-0.069151
23,915,21.000000,0,1,61.3792,1,0,1,0,0,0,1,1,0,0,-0.717097,0.463026
24,916,48.000000,1,3,262.3750,0,1,1,0,0,1,0,1,0,0,1.332139,4.065049
25,917,50.000000,1,0,14.5000,1,0,0,0,1,0,1,0,0,1,1.483934,-0.377090
26,918,22.000000,0,1,61.9792,0,1,1,0,0,1,0,1,0,0,-0.641199,0.473779
27,919,22.500000,0,0,7.2250,1,0,1,0,0,0,1,0,0,1,-0.603250,-0.507465
28,920,41.000000,0,0,30.5000,0,1,0,0,1,0,1,1,0,0,0.800856,-0.090356
29,921,23.459683,2,0,21.6792,1,0,1,0,0,0,1,0,0,1,-0.530413,-0.248433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,21.000000,0,0,7.7500,1,0,0,1,0,0,1,0,0,1,-0.717097,-0.498056
389,1281,6.000000,3,1,21.0750,1,0,0,0,1,0,1,0,0,1,-1.855561,-0.259261
390,1282,23.000000,0,0,93.5000,0,1,0,0,1,0,1,1,0,0,-0.565301,1.038659
391,1283,51.000000,0,1,39.4000,0,1,0,0,1,1,0,1,0,0,1.559832,0.069140
392,1284,13.000000,0,2,20.2500,1,0,0,0,1,0,1,0,0,1,-1.324278,-0.274045
393,1285,47.000000,0,0,10.5000,1,0,0,0,1,0,1,0,1,0,1.256241,-0.448774
394,1286,29.000000,3,1,22.0250,1,0,0,0,1,0,1,0,0,1,-0.109916,-0.242236
395,1287,18.000000,1,0,60.0000,0,1,0,0,1,1,0,1,0,0,-0.944790,0.438310
396,1288,24.000000,0,0,7.2500,1,0,0,1,0,0,1,0,0,1,-0.489404,-0.507017
397,1289,48.000000,1,1,79.2000,0,1,1,0,0,1,0,1,0,0,1.332139,0.782391
398,1290,22.000000,0,0,7.7750,1,0,0,0,1,0,1,0,0,1,-0.641199,-0.497608
399,1291,31.000000,0,0,7.7333,1,0,0,1,0,0,1,0,0,1,0.041880,-0.498356
400,1292,30.000000,0,0,164.8667,0,1,0,0,1,1,0,1,0,0,-0.034018,2.317614
401,1293,38.000000,1,0,21.0000,1,0,0,0,1,0,1,0,1,0,0.573163,-0.260605
402,1294,22.000000,0,1,59.4000,1,0,1,0,0,1,0,1,0,0,-0.641199,0.427557
403,1295,17.000000,0,0,47.1000,1,0,0,0,1,0,1,1,0,0,-1.020687,0.207130
404,1296,43.000000,1,0,27.7208,0,1,1,0,0,0,1,1,0,0,0.952651,-0.140162
405,1297,20.000000,0,0,13.8625,0,1,1,0,0,0,1,0,1,0,-0.792994,-0.388515
406,1298,23.000000,1,0,10.5000,1,0,0,0,1,0,1,0,1,0,-0.565301,-0.448774
407,1299,50.000000,1,1,211.5000,0,1,1,0,0,0,1,1,0,0,1.483934,3.153324
408,1300,19.895581,0,0,7.7208,1,0,0,1,0,1,0,0,0,1,-0.800919,-0.498580
409,1301,3.000000,1,1,13.7750,1,0,0,0,1,1,0,0,0,1,-2.083254,-0.390083
410,1302,35.295824,0,0,7.7500,1,0,0,1,0,1,0,0,0,1,0.367922,-0.498056
411,1303,37.000000,1,0,90.0000,0,1,0,1,0,1,0,1,0,0,0.497265,0.975936
412,1304,28.000000,0,0,7.7750,1,0,0,0,1,1,0,0,0,1,-0.185813,-0.497608
413,1305,30.705727,0,0,8.0500,1,0,0,0,1,0,1,0,0,1,0.019545,-0.492680
414,1306,39.000000,0,0,108.9000,0,1,1,0,0,1,0,1,0,0,0.649061,1.314641
415,1307,38.500000,0,0,7.2500,1,0,0,0,1,0,1,0,0,1,0.611112,-0.507017
416,1308,30.705727,0,0,8.0500,1,0,0,0,1,0,1,0,0,1,0.019545,-0.492680
417,1309,25.783377,1,1,22.3583,1,0,1,0,0,0,1,0,0,1,-0.354050,-0.236263

In [11]:
test = df_test.filter(regex='Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')
predictions = clf.predict(test)
result = pd.DataFrame({'PassengerId':data_test['PassengerId'].as_matrix(), 'Survived':predictions.astype(np.int32)})
result.to_csv(r"C:\Users\fly1990\Downloads\logistic_regression_predictions.csv", index=False)

In [12]:
pd.DataFrame({"columns":list(train_df.columns)[1:], "coef":list(clf.coef_.T)})

                      coef      columns
0     [-0.344235456923995]        SibSp
1   [-0.10491622563134419]        Parch
2                    [0.0]     Cabin_No
3     [0.9021084882191429]    Cabin_Yes
4                    [0.0]   Embarked_C
5                    [0.0]   Embarked_Q
6   [-0.41726334018419836]   Embarked_S
7     [1.9565706107954655]   Sex_female
8    [-0.6774213588219128]     Sex_male
9    [0.34115854590508754]     Pclass_1
10                   [0.0]     Pclass_2
11   [-1.1941299138581174]     Pclass_3
12   [-0.5237664610992708]   Age_scaled
13    [0.0844350207893966]  Fare_scaled

In [13]:
from sklearn import cross_validation
#use cross_validation来进行打分
#这个module的使用
 #简单看看打分情况
clf = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6)
all_data = df.filter(regex='Survived|Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')
X = all_data.as_matrix()[:,1:]
y = all_data.as_matrix()[:,0]
print cross_validation.cross_val_score(clf, X, y, cv=5)

[0.81564246 0.81564246 0.78651685 0.78651685 0.81355932]

In [15]:
split_train, split_cv = cross_validation.train_test_split(df, test_size=0.3, random_state=0)
train_df = split_train.filter(regex='Survived|Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')
# 生成模型
clf = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6)
clf.fit(train_df.as_matrix()[:,1:], train_df.as_matrix()[:,0])

# 对cross validation数据进行预测

cv_df = split_cv.filter(regex='Survived|Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')
predictions = clf.predict(cv_df.as_matrix()[:,1:])

origin_data_train = pd.read_csv(r"C:\Users\fly1990\Downloads\Train.csv")
bad_cases = origin_data_train.loc[origin_data_train['PassengerId'].isin(split_cv[predictions != cv_df.as_matrix()[:,0]]['PassengerId'].values)]
bad_cases

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
264,265,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.00,1,0,347083,7.7750,NaN,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.00,1,1,C.A. 2673,20.2500,NaN,S
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S
293,294,0,3,"Haas, Miss. Aloisia",female,24.00,0,0,349236,8.8500,NaN,S
298,299,1,1,"Saalfeld, Mr. Adolphe",male,NaN,0,0,19988,30.5000,C106,S
301,302,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.00,1,1,250651,26.0000,NaN,S
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.00,0,0,7598,8.0500,NaN,S
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.00,0,1,2691,14.4542,NaN,C
390,391,1,1,"Carter, Mr. William Ernest",male,36.00,1,2,113760,120.0000,B96 B98,S
402,403,0,3,"Jussila, Miss. Mari Aina",female,21.00,1,0,4137,9.8250,NaN,S
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.00,0,0,113794,26.5500,NaN,S
474,475,0,3,"Strandberg, Miss. Ida Sofia",female,22.00,0,0,7553,9.8375,NaN,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.00,0,0,4134,9.5875,NaN,S
489,490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S
501,502,0,3,"Canavan, Miss. Mary",female,21.00,0,0,364846,7.7500,NaN,Q
503,504,0,3,"Laitinen, Miss. Kristina Sofia",female,37.00,0,0,4135,9.5875,NaN,S
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.00,1,0,PC 17758,108.9000,C65,C
564,565,0,3,"Meanwell, Miss. (Marion Ogden)",female,NaN,0,0,SOTON/O.Q. 392087,8.0500,NaN,S
567,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.00,0,4,349909,21.0750,NaN,S
570,571,1,2,"Harris, Mr. George",male,62.00,0,0,S.W./PP 752,10.5000,NaN,S
587,588,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.00,1,1,13567,79.2000,B41,C
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S
643,644,1,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S
647,648,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.00,0,0,13213,35.5000,A26,C
654,655,0,3,"Hegarty, Miss. Hanora ""Nora""",female,18.00,0,0,365226,6.7500,NaN,Q
680,681,0,3,"Peters, Miss. Katie",female,NaN,0,0,330935,8.1375,NaN,Q
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.00,1,0,19996,52.0000,C126,S
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S
762,763,1,3,"Barah, Mr. Hanna Assi",male,20.00,0,0,2663,7.2292,NaN,C
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
838,839,1,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
852,853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678,15.2458,NaN,C
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.00,0,0,7552,10.5167,NaN,S

In [16]:
#模型融合，cross_valdation,bagging等策略。